
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BioFarm Admin</title>
    <link rel="stylesheet" href="~/SpicaAdmin-Free-Bootstrap-Admin-Template-master/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/SpicaAdmin-Free-Bootstrap-Admin-Template-master/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/SpicaAdmin-Free-Bootstrap-Admin-Template-master/template/css/style.css">
    <link rel="shortcut icon" href="~/SpicaAdmin-Free-Bootstrap-Admin-Template-master/template/images/favicon.png" />
</head>
