@model MilkyProject.WebUI.Dtos.UpdateCategoryDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br />
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryId" readonly class="form-control" />
        <br />
        <label>Kategori Adı</label>
        <input type="text" asp-for="name" class="form-control" />
        <br />
        <button class="btn btn-primary">Kategori Ekle</button>
    </div>
</form>
