
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Menü</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminAbout/AdminAboutList/">
                <i class="mdi mdi-information-outline menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
                <div class="badge badge-info badge-pill"></div>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminAdress/AdminAdressList/">
                <i class="mdi mdi-google-maps menu-icon"></i>
                <span class="menu-title">Adress</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminProduct/AdminProductList/">
                <i class="mdi mdi-food-variant menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminService/AdminServiceList/">
                <i class="mdi mdi-check-circle-outline menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminTeam/AdminTeamList/">
                <i class="mdi mdi-human-male-female menu-icon"></i>
                <span class="menu-title">Personeller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminTestimonial/TestimonialList/">
                <i class="mdi mdi-comment-account menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminWhyUs/AdminWhyUsList/">
                <i class="mdi mdi-comment-question-outlin"></i>
                <span class="menu-title">Neden Biz?</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="docs/documentation.html">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>