
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMilkyUI.cshtml";
}

@* <!DOCTYPE html>
<html lang="en">
<body> *@
    @await Component.InvokeAsync("DefaultSliderComponent")
    @await Component.InvokeAsync("DefaultAboutComponent")
    @await Component.InvokeAsync("DefaultWhtUsComponent")
    @await Component.InvokeAsync("DefaultBannerComponent")
    @await Component.InvokeAsync("DefaultServiceComponent")
    @await Component.InvokeAsync("DefaultGalleryComponent")
    @await Component.InvokeAsync("DefaultProductComponent")
    @await Component.InvokeAsync("DefaultTeamComponent")
    @await Component.InvokeAsync("DefaultTestimonialComponent")
@* </body>
</html> *@


